$icons-font-path: "../fonts/" !default;
$images-path: "../../images/" !default;

$primary-font: Quicksand-Regular;
$primary-font-bold: Quicksand-Bold;

$white: #fff;
$grey: #D7DAE2;
$lighten-grey: #f5f5f5;
$summer-sky: #a6c1ee;
$winter-sky: #c2e9fb;
$sky: #a1c4fd;
$green: #84fab0;
$blue: #8fd3f4;
$melanie: #fda085;
$lucy: #fbc2eb;
$banana: #f6d365;
$valentine: #ffecd2;
$susana: #fcb69f;


$icon-agenda: "\e907";
$icon-hollyday: "\e908";
$icon-loan: "\e909";
$icon-notes: "\e90a";
$icon-add: "\e906";
$icon-return-loan: "\e904";
$icon-details: "\e905";
$icon-logout: "\e903";
$icon-arrow: "\e902";
$icon-password: "\e900";
$icon-username: "\e901";



